<td><%= link_to list.description , list %></td>
<td>
  <div class="field">   
     <%#= link_to "Mark as Complete", complete_list_path(list, list.id), method: :patch %> 
     <% unless list.completed? %> 
       <%= link_to complete_list_path(list, list.id), method: :patch do %>
          Mark as Complete<%= fa_icon 'square', style: 'opacity: 0.4;' %>
        <%end%>
     <%else%>
        <%= link_to complete_list_path(list, list.id), method: :patch do %>
          Marked as Finish<%= fa_icon 'check', style: 'opacity: 0.4;' %>     
       <%end%>
     <%end%>
  </div>
</td>
<td> <%= list.status %></td>
<td><%= link_to 'Delete', list , data: { confirm: 'Are you sure?' }, method: :delete %></td>