<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@list.errors.count, "error") %> prohibited
        this list from being saved:</h2>
    <ul>
    <% @list.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <!--<div class="field">-->
  <!--  <%= f.label :completed %><br />-->
  <!--  <%= f.check_box :completed %>-->
  <!--</div>-->
  <div class="field">
    <%= f.label :status %><br />
    <%#= f.text_field :status %>
    <%= f.collection_radio_buttons :status, [[:low, 'Low'] ,[:medium, 'Medium'],[:high, 'High'],[:urgent, 'Urgent']], :first, :last %>
  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>